page-gu-lista-grupos {
    .labelGrupo {
        vertical-align: -moz-middle-with-baseline;
    }
    .divGrupo {
        text-align: right;
    }
    .btnOptions {
        margin-left: 20%;
    }
    .divFoot {        
        text-align: center;
    }
}
