<ion-header>
  <ion-navbar>
    <ion-title>Lista de grupos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <div class="divGrupo" ion-item *ngFor="let grupo of grupos">      
      <label class="labelGrupo">{{grupo.nombre}} {{grupo.descripcion}}</label>
      <button ion-button color="light" class="btnOptions" (click)="editar(grupo)">
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button color="danger" class="btnRemove" (click)="borrar(grupo)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </div>   
  </ion-list>
  <div padding>      
    <button ion-button color="primary" block class="btnVolver" (click)='volver()'>Volver al menú</button>
  </div>
</ion-content>
