<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-list>
    <div class="divUsuario" ion-item *ngFor="let usuario of usuarios">      
      <label class="labelUsuario" (click)="seleccionar(usuario)">{{usuario.nombre}} {{usuario.apellido1}}</label>     
      <button ion-button color="light" class="btnOptions" (click)="editar(usuario)">
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button color="danger" class="btnRemove" (click)="borrar(usuario)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </div>
  </ion-list>
  <div class="divFoot" padding>
    <button ion-button class="btnNuevo" color="light" (click)="nuevoUsuario()">
      Nuevo usuario
    </button>
    <button ion-button  color="light" (click)="vovler()">
      Volver
    </button>
  </div>
  <!--
  <div *ngIf="selectedUser" padding>
    Has seleccionado el usuario <b>{{selectedUser.nombre}}</b>
    <button ion-button block color="dark" (click)="buscar(selectedUser)">
      Iniciar búsqueda
    </button>
  </div>
  -->
</ion-content>
