page-list {
    .labelUsuario {
        vertical-align: -moz-middle-with-baseline;
    }
    .divUsuario {
        text-align: right;
    }
    .btnOptions {
        margin-left: 20%;
    }
    .btnRemove {
        margin-right: 10%;
    }
    .divFoot {
        text-align: center;
    }
    .btnNuevo {
        padding-right: 20%;
        padding-left: 20%;
        margin-bottom: 5%;
    }
}
