<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-list>
    <button ion-item *ngFor="let usuario of usuarios" (click)="seleccionar(usuario)">
      {{usuario.nombre}} {{usuario.apellido1}}      
    </button>
  </ion-list>
  <div padding>
    <button ion-button block (click)="nuevoUsuario()">
      Nuevo usuario
    </button>
  </div>  
  <div *ngIf="selectedUser" padding>
    Has seleccionado el usuario <b>{{selectedUser.nombre}}</b>
    <button ion-button (click)="buscar(selectedUser)">
      Iniciar búsqueda
    </button>
  </div>
</ion-content>
