<ion-header>
  <ion-navbar>
    <ion-title>Escaneo de grupo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-title>{{grupo.nombre}}</ion-title><!-- botoncito de editar??? para ir directamente -->
  <div>

  </div>
    <!-- lista de usuarios de este grupo -->
    <ion-list style="margin-top: 5%">
      <div ion-item *ngFor="let parUsuarioRSSI of listaUsuarioRSSI">
        <div *ngIf="!parUsuarioRSSI.warning && !parUsuarioRSSI.danger">
          <label class="lbUsuario">{{parUsuarioRSSI.usuario}}</label>
          <label> {{parUsuarioRSSI.rssi}}</label>
          <button ion-button color="primary" class="btnBuscar" (click)='buscar(parUsuarioRSSI)'>Buscar</button>
          <!--<button ion-button color="primary" class="btnBuscar" (click)='radar(parUsuarioRSSI)'>Radar</button>-->
          <ion-item>
            <ion-label>dual, step=1, snaps, </ion-label>
            <ion-range dualKnobs="true" [(ngModel)]="dualValue2" min="1" max="25" step="1" snaps="true"></ion-range>
          </ion-item>
        </div>
        <div *ngIf="parUsuarioRSSI.warning" style="background-color: yellow">
          <label class="lbUsuario">{{parUsuarioRSSI.usuario}}</label>
          <label> {{parUsuarioRSSI.rssi}}</label>
          <!--<label style="margin-left: 5px;">WARNING</label>-->
          <button ion-button color="primary" class="btnBuscar" (click)='buscar(parUsuarioRSSI)'>Buscar</button>
          <!--<button ion-button color="primary" class="btnBuscar" (click)='radar(parUsuarioRSSI)'>Radar</button>-->
          <button *ngIf="aviso1" ion-button color="danger" class="btnMute" (click)='stopWarning()'>Mute</button>
        </div>
        <div *ngIf="parUsuarioRSSI.danger" style="background-color: red">
          <label class="lbUsuario">{{parUsuarioRSSI.usuario}}</label>
          <label> {{parUsuarioRSSI.rssi}}</label>
          <!--<label style="margin-left: 5px;">DANGER</label>-->
          <button ion-button color="primary" class="btnBuscar" (click)='buscar(parUsuarioRSSI)'>Buscar</button>
          <!--<button ion-button color="primary" class="btnBuscar" (click)='radar(parUsuarioRSSI)'>Radar</button>-->
          <button *ngIf="aviso1" ion-button color="danger" class="btnMute" (click)='stopWarning()'>Mute</button>
        </div>
        <!-- <button *ngIf="parUsuarioRSSI.danger" ion-button color="danger" class="btnMute" (click)='stopDanger()'>Mute</button> -->
        <!-- botoncito de mute??? para parar el sonido de alerta-->
      </div>
    </ion-list>

    <!-- conectar y desconectar -->
    <div padding *ngIf="!conectado" style="text-align: center">
      <button ion-button color="light" class="btnConectar" (click)='conectar()'>Conectar</button>
    </div>
    <div padding *ngIf="conectado" style="text-align: center">
      <button ion-button color="light" class="btnDesconectar" (click)='desconectar()'>Desconectar</button>
    </div>

    <!-- volver -->
    <div padding style="text-align: center">     
      <button ion-button color="light"  class="btnVolver" (click)='volver()'>Volver</button>
    </div>

</ion-content>
