page-home {
    .divOptions {        
        padding: 0 10% 10% 10%;
        text-align: center;
    }
    .divOptions .button {
        margin-top: 10%;
    }
    .divFoot {        
        text-align: center;
    }

}
