page-gu-alta-edit-grupos {

    .btn {
        float: right;
    } 

    .labelUsuario {
        vertical-align: -moz-middle-with-baseline;
    }

    .divUsuario {
        text-align: right;
    }

    .divTitulo2 {
        text-align: center;
    }

    .divTitulo2 ion-label {
        font-size: large;
        margin-right: 10%;
    }

    .btnOptions {
        margin-left: 20%;
    }

    .btnRemove {
        margin-right: 5%;
        margin-left: 5%;
    }    
    
    .divFoot {
        text-align: center;
        margin-right: 10%;    
        margin-left: 10%;
    }
    .btnVolver {
        margin-top: 5%;
    }

}
