page-gu-alta-edit-grupos {

    .btn {
        float: right;
    } 

    .labelUsuario {
        vertical-align: -moz-middle-with-baseline;
    }

    .divUsuario {
        text-align: right;
    }

    .divTitulo2 {
        text-align: center;
    }

    .divTitulo2 ion-label {
        font-size: large;
        margin-right: 10%;
    }

    .foot button {
        margin-top: 10%;
    }

}
