<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispositivos Bluetooth</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <!--<div>  dispositivos registrados anteriormente 
    <ion-label>Dispositivos conocidos:</ion-label>
    <ion-list>
        <button ion-item *ngFor="let dispositivo of dispositivosConocidos" (click)="registrar(dispositivo)">      
          {{dispositivo.nombre_dispositivo}} {{dispositivo.descripcion}}      
        </button>
    </ion-list>
  </div>
  <br><br>-->
  <ion-list>
    <div ion-item *ngFor="let dispositivo of dispositivos" (click)="registrar(dispositivo)">      
      {{dispositivo.nombre_dispositivo || 'Unnamed'}} {{dispositivo.descripcion}}  
    </div>
  </ion-list>
  <div class="divFoot" padding>
    <button ion-button color="light" (click)="buscar()">Buscar dispositivos Bluetooth</button>
    <button ion-button color="light" (click)="hola()">Refrescar lista</button>
  </div>    
</ion-content>
