page-su-menu {
    .opcionesSu {
        margin-top: 20%;
        padding: 10%;
        text-align: center;
    }
    .opcionesSu .button {
        margin-top: 10%;
    }
    .divFoot {
        margin-top: 25%;
        text-align: center;
    }
}
