page-su-listado-profesionales {
    .labelProfesional {
        vertical-align: -moz-middle-with-baseline;
    }
    .divProfesional {
        text-align: right;
    }
    .btnOptions {
        margin-left: 20%;
    }

}
