page-su-listado-profesionales {
    .labelProfesional {
        vertical-align: -moz-middle-with-baseline;
    }
    .divProfesional {
        text-align: right;
    }
    .btnOptions {
        margin-left: 20%;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

}
